@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .header {
    /* padding-top: 24px;
    padding-bottom: 28px; */
  }
  .header-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 40px;
  }
  .header-list {
    margin-left: 76px;
  }
  .header-contact-link {
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
  }

  /* ================== Section 1 Effective Solutions for Your Busines ===================== */

  .solutions-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  /*================================ Secrtion 2 Main principles ================================*/

  .principles-icons {
    display: revert;
  }
  .principles-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .principles-title {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  /*=============================== Section 3 What are we doing ===============================*/

  .what {
    display: revert;
  }
  /*==================================== Section 4 Our Team ====================================*/

  .team-container.container {
    max-width: 1158px;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  /*====================================== Customers section ======================================*/

  .customers-container.container {
    max-width: 1158px;
  }

  .customers-container {
    padding: 120px 0px;
  }
  .customer-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  /*====================================== Footer section ======================================*/

  .footer-container.container {
    max-width: 1158px;
  }
  .footer-container {
    flex-wrap: nowrap;
  }
  .footer-logo-slogan {
    margin-right: 120px;
  }
  .subscription-form {
  }
  .subscription-wrap {
    margin-left: auto;
  }
  .modal {
    width: 408px;
  }
}
