@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  /*========================================== Header ==========================================*/

  .header {
    padding-top: 24px;
    padding-bottom: 28px;
    height: 76px;
  }

  .header-link.current::after {
    bottom: -29px;
  }

  .header-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 40px;
  }

  .header-list {
    margin-left: 76px;
  }

  .header-contact-link {
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
  }

  /* ================== Section 1 Effective Solutions for Your Busines ===================== */

  .solutions {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  .solutions-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  /*================================ Secrtion 2 Main principles ================================*/

  .principles {
    padding: 96px 0 60px;
  }

  .principles-icons {
    display: revert;
  }

  .principles-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .principles-item {
    width: 264px;
  }

  .principles-title {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .principles-text {
    font-weight: 400;
  }

  /*=============================== Section 3 What are we doing ===============================*/

  .what {
    display: revert;
  }

  /*==================================== Section 4 Our Team ====================================*/

  .team {
    padding: 120px 0;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  /*====================================== Customers section ======================================*/

  .customers {
    padding: 120px 0px;
  }

  .customer-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  /*====================================== Footer section ======================================*/

  .footer {
    padding: 100px 0;
  }

  .footer-container.container {
    max-width: 1158px;
  }
  .footer-container {
    flex-wrap: nowrap;
  }
  .footer-logo-slogan {
    margin-right: 120px;
  }
  .subscription-form {
  }
  .subscription-wrap {
    margin-left: auto;
  }

  .footer-logo-slogan {
    margin-bottom: 0;
  }

  .social-media {
    margin-bottom: 0;
  }

  .modal {
    width: 408px;
  }

  /*====================================== Potrfolio.html ======================================*/

  .solutions-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .solutions-filter-list {
    margin-bottom: 72px;
  }

  .solutions-result {
    gap: 48px 24px;
  }
  .solution-result-item {
    width: 360px;
  }
  .solution-picture-img {
    width: 360px;
    height: 300px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .solutions {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}
