@media screen and (min-width: 320px) {
  .container {
    max-width: 428px;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-nav-conteiner {
    /* padding-top: 24px;
   padding-bottom: 24px;
  width: 100%; */
  }
}
