@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-navigation {
    display: flex;
    padding-bottom: 10px;
  }
  .open-menu-btn {
    display: none;
  }
  .menu-container {
    display: none;
  }
  .header-nav-conteiner {
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 10px;
  }
  .header-contacts {
    display: revert;
  }

  /* ================== Section 1 Effective Solutions for Your Busines ===================== */

  /*================================ Secrtion 2 Main principles ================================*/

  .principles-container {
    padding: 96px 0px;
  }
  .principles-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .principles-item {
    max-width: 356px;
  }

  .principles-title {
    text-align: start;
  }
  /*=============================== NOT SHOWN Section 3 What are we doing ===============================*/

  /*==================================== Section 4 Our Team ====================================*/

  .team-container.container {
    max-width: 660px;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  /*====================================== Customers section ======================================*/

  .customers-container.container {
    max-width: 660px;
  }
  .customer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
    column-gap: 24px;
  }

  /*====================================== Footer section ======================================*/

  .footer-container.container {
    max-width: 660px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-logo-slogan {
    text-align: left;
    margin-right: 24px;
  }

  .social-media {
    text-align: left;
  }

  .subscription-text {
    text-align: left;
  }

  .subscription-form {
    display: flex;
  }

  .subscription-form-input {
    width: 264px;
    height: 40px;

    margin-right: 24px;
    margin-bottom: 0;
  }
  .solution-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
  }
  /*====================================== Potrfolio.html ======================================*/

  .solutions-portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .solutions-filter-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 64px;
  }

  .solutions-result {
    justify-content: flex-start;
    gap: 72px 24px;
  }
  .solution-result-item {
    width: 356px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .solution-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet@2x.jpg);
  }
}
