@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /*========================================== Header ==========================================*/
  .header {
    padding-top: 24px;
    padding-bottom: 10px;
  }

  .header-navigation {
    display: flex;
  }
  .open-menu-btn {
    display: none;
  }
  .menu-container {
    display: none;
  }
  .header-nav-conteiner {
    align-items: flex-start;
  }
  .header-contacts {
    display: block;
  }

  .modal {
    width: 408px;
  }

  /* ================== Section 1 Effective Solutions for Your Busines ===================== */

  .solutions {
    padding: 112px 0 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
  }

  /*================================ Secrtion 2 Main principles ================================*/
  .principles {
  }
  .principles-container {
  }
  .principles-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .principles-item {
    width: 356px;
  }

  .principles-title {
    text-align: start;
  }

  /*==================================== Section 4 Our Team ====================================*/

  .team {
    padding: 96px 0 104px;
  }

  .team-container.container {
    /* max-width: 660px; */
  }

  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  /*====================================== Customers section ======================================*/

  .customer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
    column-gap: 24px;
  }
  .customer-link {
    width: 168px;
    height: 88px;
  }

  /*====================================== Footer section ======================================*/

  .footer {
    padding: 96px 93px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-logo-slogan {
    text-align: left;
    margin-right: 24px;
  }

  .social-media {
    text-align: left;
  }

  .subscription-text {
    text-align: left;
  }

  .subscription-form {
    display: flex;
  }

  .subscription-form-input {
    width: 264px;
    height: 40px;
    margin-right: 24px;
    margin-bottom: 0;
  }

  /*====================================== Potrfolio.html ======================================*/

  .solutions-portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .solutions-filter-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 64px;
  }

  .solutions-result {
    justify-content: flex-start;
    gap: 72px 24px;
  }

  .solution-result-item {
    width: 356px;
  }
  .solution-picture-img {
    width: 356px;
    height: 300px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .solutions {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet@2x.jpg);
  }
}
